* {
  padding: 0;
  margin: 0;
}

.game {
  width: 25rem;
  height: 31rem;
  border: 1px solid black;
  margin: 0 auto;
  overflow: hidden;
  background: url('images/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.obstacle {
  width: 3rem;
  height: 31rem;
  background-color: green;
  object-fit: cover;
  position: relative;
  left: 25rem;
  animation: obstacle 2s infinite linear;
}

@keyframes obstacle {
  0% {left: 25rem}
  100% {left: -3rem}
}

.tunnel {
  width: 3rem;
  height: 9rem;
  background-color: hsl(1, 39%, 58%);
  position: relative;
  left: 25rem;
  top: -31rem;
  animation: obstacle 2s infinite linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tiger {
  width: 140px;
  height: 100px;
  position: absolute;
  object-fit: cover;
  top: 100px;
} 

.menu{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/wall.jpg);
    width: 60rem;
    height: 30rem;
    color: white;
}

.btn{
width: 13rem;
padding: 1rem;
}